
.btn {    
    padding: 8px  24px;
    border-radius: 100px;
    height: 48px;
    cursor: pointer;
    width: 500px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(259.1deg, #C8BDFF -125.87%, #B5EDFF -54.27%, #00CBFF 2.24%, #6721FF 65.27%, #C8BDFF 132.54%);

}

